body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.clock {
  color: #6f2dbd;
  font-family: "Digital-7 Mono";
  text-align: center;
}

.time {
  font-size: 10rem;

}

.date {
  margin-top: -50px;
  font-size: 1.5rem;

}