@use "./reset.scss";

@font-face {
	font-family: 'MyFont';
	src: url('/assets/DSEG14ModernMini-Regular.woff') format('woff'),
	     url('/assets/DSEG14ModernMini-Regular.woff2') format('woff2'),
	     url('/assets/DSEG14ModernMini-Regular.ttf')  format('truetype');
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  min-height: 100vh;
  overflow: hidden;
  background-color: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  font-family: MyFont;
  color: var(--clock-num);
  padding: calc(30 / 1440 * 100vw) calc(50 / 1440 * 100vw);
  font-size: calc(160 / 1440 * 100vw);
  border-radius: calc(30 / 1440 * 100vw);
  background-color: var(--clock-bg);
  &_inner{
    position: relative;
  }
}

.time {
  text-align: center;
  &_bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
  }
}

.date {
  margin-top: 10px;
  font-size: 0.15em;
  text-align: right;
}