// :root {

// }

@use "./reset.scss";

@font-face {
	font-family: 'MyFont';
	src: url('/assets/DSEG14ModernMini-Regular.woff') format('woff'),
	     url('/assets/DSEG14ModernMini-Regular.woff2') format('woff2'),
	     url('/assets/DSEG14ModernMini-Regular.ttf')  format('truetype');
}

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  min-height: 100vh;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  font-family: MyFont;
  color: #6f2dbd;
  padding: 30px 50px;
  border-radius: 30px;
  background-color: #000;
  &_inner{
    position: relative;
  }
}

.time {
  font-size: 10rem;
  text-align: center;
  &_bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
  }
}

.date {
  margin-top: 10px;
  font-size: 1.5rem;
  text-align: right;
}